.resources {

  .breadcrumbs {
    font-family: 'Museo Sans 500', sans-serif;
    li {
      margin-bottom: 1em;

      &.bucket {
        background: #60c5c3;
        margin-left: 0;

        &:before {
          content: " ";
          background: transparent;
        }
        &:after {
          content: " ";
          background: image-url('breadcrumbs-bucket-after.png') no-repeat;
          width: 12px;
          height: 31px;
          right: -12px;
          top: -1px;
          position: absolute;
        }
      }

      background: $primary-color;
      height: 30px;
      padding: 2px 10px;
      margin-left: 20px;
      position: relative;

      &:before {
        content: " ";
        background: image-url('breadcrumbs-before.png') no-repeat;
        width: 12px;
        height: 31px;
        left: -12px;
        top: -1px;
        position: absolute;
      }
      &:after {
        content: " ";
        background: image-url('breadcrumbs-after.png') no-repeat;
        width: 12px;
        height: 31px;
        right: -12px;
        top: -1px;
        position: absolute;
      }
    }
  }

  .buckets {
    &.index {
      .bucket {
        @include grid-column(12);
        background: image-url('resources-bucket-icon.png') center no-repeat;
        height: 190px;
        margin-bottom: 20px;
        padding-top: 200px;
        text-align: center;

        &:hover { background-image: image-url('resources-bucket-icon-hover.png'); }

        @media #{$small} { @include grid-column(4); }
      }
    }
  }

  table.browser {
    width: 100%;

    th:first-child {
      position: relative;

      &:before {
        content: " ";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid #60c5c3;
        position: absolute;
        top: -12px;
        left: 30px;
      }
    }

    td.directory {
      a {
        background: url('/images/browser-folder.png') no-repeat;
        padding-left: 25px;
      }
    }
  }
}