<header>
  <div class="contain-to-grid">
    <nav class="top-bar">
      <ul>
        <li class="name">
          <h1><a href="/">BrowS3</a></h1>
        </li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
      <section>
        <ul class="right">
          <li> <a <%= url('/buckets') %>>Buckets</a> </li>
        </ul>
      </section>
    </nav>

  </div>
</header>
<h1>Correctly signed up! :)</h1>