<h1>Directories Size <%= @directories.size %></h1>
<ul>
  <% @directories.each do |directory| %>
    <li><%= directory.name %></li>
  <% end %>
</ul>

<h1>Files</h1>
<ul>
  <% @files.each do |file| %>
    <li><%= file.name %></li>
  <% end %>
</ul>
<script>
  $(function(){
    $(document).foundationAccordion();
  });
</script>