<ul class="breadcrumbs">
  <li>
    <a href="#"><%= @files.directory.key %></a>
  </li>
</ul>

<ul class="nav-bar vertical four columns">
  <% @files.each do |file| %>
    <% if file.key.end_with?('/') && file.key.split('/').count <= 1 %>
      <li>
        <a href="files?prefix=<%= file.key %>"><%= file.key %></a>
      </li>
    <% elsif !file.key.end_with?('/') && file.key.split('/').count == 1 %>
      <li>
        <a href="#"><%= file.key %></a> <br>
      </li>
    <% end %>
  <% end %>
</ul>
