<div class="pages contact-us">
  <div class="row">
    <h1>Contact Us</h1>
    <form>
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="John Doe">

      <label for="email">Email</label>
      <input type="text" id="email" placeholder="john@doe.com">

      <label for="message">Message</label>
      <textarea name="" id="message" cols="30" rows="10" placeholder="Your message goes in here"></textarea>

      <input type="submit" id="submit" class="button" value="Send it!">
    </form>
  </div>
</div>