<!doctype html>

<html>
  <head>
    <title>BROWS3.it - An Amazing S3 Browser</title>

    <link href="<%= image_path "favicon.png"  %>" rel="shortcut icon" type="image/png">

    <meta name="keywords" content="amazon,aws,s3,brows3,s3 browser,amazon browser">
    <meta name="description" content="BROWS3 is an AWS S3 file browser that is secure, pretty and easy to use.">
    <meta name="author" content="Tractical. Tractical is a small web development studio located in Mexico.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_tag "app" %>
  </head>

  <body class="error-pages">
    <div class="error container row">
      <div class="message small-10 small-centered columns">
        <h1>Oops! Something went wrong.</h1>
        <h2>Try Refreshing</h2>
      </div>
    </div>
  </body>
</html>
