<div class="pages faq">
  <div class="row">
    <h1>Frequently Asked Questions</h1>
  </div>
  <div class="row">
    <div class="questions">
      <ul>
        <li>
          Question 1 <br>
          <span class="answer">Answer 1</span>
        </li>
        <li>
          Question 2 <br>
          <span class="answer">Answer 2</span>
        </li>
        <li>
          Question 3 <br>
          <span class="answer">Answer 3</span>
        </li>
      </ul>
    </div>
    <div class="questions">
      <ul>
        <li>
          Question 1 <br>
          <span class="answer">Answer 1</span>
        </li>
        <li>
          Question 2 <br>
          <span class="answer">Answer 2</span>
        </li>
        <li>
          Question 3 <br>
          <span class="answer">Answer 3</span>
        </li>
      </ul>
    </div>

  </div>
</div>