<div class="pages faq">
  <div class="row">
    <div class="large-10 large-centered columns">
      <h1>Frequently Asked Questions</h1>
    </div>
  </div>

  <div class="row">
    <div class="questions">
      <ul>
        <li>
          What do I need to use this service? <br>
          <span class="answer">You need to have an Amazon Web Services account
          with the Amazon Secure Storage Service (S3) activated. </span>
        </li>
        <li>
          Is it secure to use this service? <br>
          <span class="answer">Yes, for instance we don’t store any information.
          Secondly, you’ll be navigating through HTTPS secure pages.</span>
        </li>
        <li>
          Does it cost? <br>
          <span class="answer">Nope. This is a completely free service. </span>
        </li>
        <li>
          Why does it exist? <br>
          <span class="answer">Originaly we created Brows3 to cover our own
          needs. Then we thought that it might be useful for other people too so
          we transformed it in a whole public service. </span>
        </li>
        <li>
          What if I still feel insecure about using it online? <br>
          <span class="answer">You can always download the latest source code
          and install it in your own machine. Instructions are in the
          repository</span>
        </li>
      </ul>
    </div>
  </div>
</div>