<!doctype html>

<html>
  <head>
    <title>S3 Browser</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>