<!doctype html>

<html>
  <head>
    <meta name="robots" content="none">
    <meta name="googlebot" content="noarchive">
    <title>BrowS3.it</title>
    <%= stylesheet "/stylesheets/foundation.min.css" %>
    <script src="/javascripts/foundation.min.js"></script>
  </head>

  <body>
    <header>
      <div class="contain-to-grid">
        <nav class="top-bar">
          <ul>
            <li class="name">
              <h1><a href="/">Tractical</a></h1>
            </li>
            <li class="toggle-topbar"><a href="#"></a></li>
          </ul>
          <section>
            <ul class="right">
              <li> <a href="/resources/buckets">Buckets</a> </li>
            </ul>
          </section>
        </nav>

      </div>
    </header>

    <% if flash[:notice] %>
      <div class="alert-box row">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div class="row">
      <div class="twelve columns">
        <%= yield %>
      </div>
    </div>

  </body>
</html>