<!doctype html>

<html>
  <head>
    <title>S3 Browser</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li> <a href="/buckets">Buckets</a> </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>