<!doctype html>

<html>
  <head>
    <meta name="robots" content="none">
    <meta name="googlebot" content="noarchive">
    <title>BrowS3.it</title>
    <%= stylesheet "/stylesheets/app.css" %>
  </head>

  <body>

    <% if flash[:notice] %>
      <div class="alert-box row">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert-box alert row">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>