<!doctype html>

<html>
  <head>
    <meta name="robots" content="none">
    <meta name="googlebot" content="noarchive">
    <title>BrowS3.it</title>
    <%= stylesheet "/stylesheets/normalize.css" %>
    <%= stylesheet "/stylesheets/app.css" %>
  </head>

  <body class="error-pages">
    <div class="container row">
      <div class="message small-10 small-centered columns">
        <h1>Oh no! It seems like you're lost!</h1>
        <h2>Go Back</h2>
      </div>
    </div>
  </body>
</html>
