<div class="pages privacy-terms">
  <div class="row">
    <h1>Privacy & Terms</h1>
  </div>

  <div class="row">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum saepe exercitationem perspiciatis itaque non voluptas fugiat rerum voluptatum voluptatibus doloribus similique eligendi dolore hic ullam voluptatem numquam a corporis veniam.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde rerum nam soluta? Dolorem sapiente iusto eaque quod nesciunt distinctio eius modi voluptates quidem minima sint porro sunt delectus illo cumque.</p>
  </div>
</div>