<div class="pages privacy-terms">
  <div class="row">
    <div class="large-6 large-centered columns">
      <h1>Privacy Policy</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h3>What do we use your information for?</h3>
      <p>
        Any of the information we collect from you may be used in one of the
        following ways:
      </p>

      <p><strong>To improve our website</strong></p>
      <p>
        (we continually strive to improve our website offerings based on the
        information and feedback we receive from you)
      </p>

      <p><strong>To improve customer service</strong></p>
      <p>
        (your information helps us to more effectively respond to your customer
        service requests and support needs)
      </p>

      <h3>How do we protect your information?</h3>

      <p>
        We implement a variety of security measures to maintain the safety of
        your personal information when you enter, submit, or access your
        personal information.
      </p>

      <p>
        We offer the use of a secure server. All supplied sensitive/credit
        information is transmitted via Secure Socket Layer (SSL) technology and
        then encrypted into our Payment gateway providers database only to be
        accessible by those authorized with special access rights to such
        systems, and are required to?keep the information confidential.
      </p>

      <p>
        After a transaction, your private information (credit cards, social
        security numbers, financials, etc.) will not be stored on our servers.
      </p>

      <h3>Do we use cookies?</h3>

      <p>
        Yes. Cookies are small files that a site or its service provider
        transfers to your computers hard drive through your Web browser
        (if you allow) that enables the sites or service providers systems to
        recognize your browser and capture and remember certain information
      </p>

      <p>
        We use cookies to compile aggregate data about site traffic and site
        interaction so that we can offer better site experiences and tools in
        the future. We may contract with third-party service providers to assist
        us in better understanding our site visitors. These service providers
        are not permitted to use the information collected on our behalf except
        to help us conduct and improve our business.
      </p>

      <h3>Do we disclose any information to outside parties?</h3>

      <p>
        We do not sell, trade, or otherwise transfer to outside parties your
        personally identifiable information. This does not include trusted third
        parties who assist us in operating our website, conducting our business,
        or servicing you, so long as those parties agree to keep this
        information confidential. We may also release your information when we
        believe release is appropriate to comply with the law, enforce our site
        policies, or protect ours or others rights, property, or safety.
        However, non-personally identifiable visitor information may be provided
        to other parties for marketing, advertising, or other uses.
      </p>

      <h3>Childrens Online Privacy Protection Act Compliance</h3>

      <p>
        We are in compliance with the requirements of COPPA (Childrens Online
        Privacy Protection Act), we do not collect any information from anyone
        under 13 years of age. Our website, products and services are all
        directed to people who are at least 13 years old or older.
      </p>

      <h3>Online Privacy Policy Only</h3>

      <p>
        This online privacy policy applies only to information collected through
        our website and not to information collected offline.
      </p>

      <h3>Terms and Conditions</h3>

      <p>
        Please also visit our Terms and Conditions section establishing the use,
        disclaimers, and limitations of liability governing the use of our
        website at <a href="<%= url('terms') %>">http://www.brows3.it/terms</a>
      </p>

      <h3>Your Consent</h3>

      <p>By using our site, you consent to our privacy policy.</p>

      <h3>Changes to our Privacy Policy</h3>

      <p>
        If we decide to change our privacy policy, we will post those changes on
        this page, and/or update the Privacy Policy modification date below.
      </p>

      <p>This policy was last modified on 27/03/13</p>

      <h3>Contacting Us</h3>

      <p>
        If there are any questions regarding this privacy policy you may contact
        us using the information below.
      </p>

      <ul class="vcard">
        <li class="fn"><a href="http://tractical.com">http://tractical.com</a></li>
        <li class="street-address">Ricardo Margain #575</li>
        <li class="street-address">Parque Corp. Sta. Engracia</li>
        <li class="locality">
          Garza García,
          <span class="state">Nuevo León</span>
          <span class="zip">66267</span>
        </li>
        <li>México</li>
        <li class="email"><a href="mailto: hello@tractical.com">hello@tractical.com</a></li>
      </ul>
    </div>
  </div>
</div>