<h1>Resources</h1>

<h2>Directories</h2>
<% @resources[:directories].each do |d| %>
  <a href="?prefix=<%= d.prefix %>"><%= d.prefix.split('/').last %></a> <br>
<% end %>

<h2>Files</h2>
<% @resources[:files].each do |f| %>
  <a href="<%= f.object.url_for(:read) %>"><%= f.key.split('/').last %></a> <br>
<% end %>