<% content_for :mixpanel_events do %>
  mixpanel.track('Signed in page viewed',
    {'page name' : document.title, 'url' : window.location.pathname});
<% end %>

<div class="buckets index">
  <div class="row">
  <% unless @buckets.first.nil? %>
    <% @buckets.each do |bucket| %>
      <a class="bucket" href="<%= bucket.name %>">
        <%= bucket.name %>
      </a>
    <% end %>
  <% else %>
    <h2>No Buckets found</h2>
  <% end %>
  </div>
</div>
