.pages {

  h1 {
    border-bottom: 1px solid #ccc;
    color: $primary-color;
    font-family: "Nexa Bold";
    text-align: center;
    text-transform: uppercase;
  }

  &.faq {
    .questions {
      @include grid-column($columns: 10);

      ul {
        list-style: none;

        li {
          margin-bottom: 20px;
          position: relative;
          padding-left: 60px;

          &:before {
            content: " ";
            background: image-url('question-mark.png') left center no-repeat;
            width: 40px;
            height: 40px;
            position: absolute;
            left: 0;
          }
        }
      }
      .answer { color: $primary-color; }
    }
  }
}