//
// Foundation Variables
//

// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with brower-based text zoom or user-set defaults.
$base-font-size: 100% !default;

// $base-line-height is 24px while $base-font-size is 16px
// $base-line-height: 150%;

// This is the default html and body font-size for the base em value.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be a different size and not have it effect grid size too,
// set the value of $em-base to $base-font-size ($em-base: $base-font-size;)
$em-base: 16px !default;

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px)
@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

// Various global styles
$body-bg: #efefef;
$body-font-family: "Museo Sans 500", "Helvetica", Helvetica, Arial, sans-serif;

// Colors
$primary-color: #f1ab1d;

//
// Grid Variables
//

$row-width: emCalc(960px);
$column-gutter: emCalc(20px);

//
// Typography Variables
//

// We use these to control header font styles
$header-font-family: "Nexa Bold", "Helvetica", Helvetica, Arial, sans-serif;

//
// Breadcrumb Variables
//

// We use this to set the background color for the breadcrumb container.
$crumb-bg: rgba(0, 0, 0, 0);

// We use these to set various text styles for breadcrumbs.
$crumb-font-size: emCalc(12px);
$crumb-font-color: #fff;
$crumb-font-transform: capitalize;
$crumb-link-decor: none;

// We use these to set the padding around the breadcrumbs.
$crumb-padding: 0;
$crumb-side-padding: 0;

// We use these to control border styles.
$crumb-border-size: 0;

// We use these to control the slash between breadcrumbs
$crumb-slash: " ";

//
// Table Variables
//

// These control the background color for the table and even rows
$table-bg: #f4f4f4;
// $table-even-row-bg: #f9f9f9;

// These control the table cell border style
$table-border-color: #dbdcdd;

// These control the table head styles
$table-head-bg: #60c5c3;
$table-head-font-size: emCalc(12px);
$table-head-font-color: #f2f1f0;
$table-head-font-weight: lighter;

//
// Top Bar Variables
//

// Background color for the top bar
$topbar-bg: rgba(255, 255, 255, 0);

// Height and margin
$topbar-height: 64px;
$topbar-margin-bottom: emCalc(40px);

// Set the link colors and styles for top-level nav
$topbar-link-color: $primary-color;

// Style the top bar dropdown elements
$topbar-dropdown-bg: rgba(255, 255, 255, 0);
